
@font-face {
	font-family: 'Iosevka Sparkle Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iosevka-sparkle-thin.woff2') format('woff2'), url('woff/iosevka-sparkle-thin.woff') format('woff');
}

@font-face {
	font-family: 'Iosevka Sparkle Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/iosevka-sparkle-thinoblique.woff2') format('woff2'), url('woff/iosevka-sparkle-thinoblique.woff') format('woff');
}

@font-face {
	font-family: 'Iosevka Sparkle Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('woff2/iosevka-sparkle-thinoblique.woff2') format('woff2'), url('woff/iosevka-sparkle-thinoblique.woff') format('woff');
}

@font-face {
	font-family: 'Iosevka Sparkle Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iosevka-sparkle-thinitalic.woff2') format('woff2'), url('woff/iosevka-sparkle-thinitalic.woff') format('woff');
}

@font-face {
	font-family: 'Iosevka Sparkle Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iosevka-sparkle-extralight.woff2') format('woff2'), url('woff/iosevka-sparkle-extralight.woff') format('woff');
}

@font-face {
	font-family: 'Iosevka Sparkle Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/iosevka-sparkle-extralightoblique.woff2') format('woff2'), url('woff/iosevka-sparkle-extralightoblique.woff') format('woff');
}

@font-face {
	font-family: 'Iosevka Sparkle Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('woff2/iosevka-sparkle-extralightoblique.woff2') format('woff2'), url('woff/iosevka-sparkle-extralightoblique.woff') format('woff');
}

@font-face {
	font-family: 'Iosevka Sparkle Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iosevka-sparkle-extralightitalic.woff2') format('woff2'), url('woff/iosevka-sparkle-extralightitalic.woff') format('woff');
}

@font-face {
	font-family: 'Iosevka Sparkle Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iosevka-sparkle-light.woff2') format('woff2'), url('woff/iosevka-sparkle-light.woff') format('woff');
}

@font-face {
	font-family: 'Iosevka Sparkle Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/iosevka-sparkle-lightoblique.woff2') format('woff2'), url('woff/iosevka-sparkle-lightoblique.woff') format('woff');
}

@font-face {
	font-family: 'Iosevka Sparkle Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('woff2/iosevka-sparkle-lightoblique.woff2') format('woff2'), url('woff/iosevka-sparkle-lightoblique.woff') format('woff');
}

@font-face {
	font-family: 'Iosevka Sparkle Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iosevka-sparkle-lightitalic.woff2') format('woff2'), url('woff/iosevka-sparkle-lightitalic.woff') format('woff');
}

@font-face {
	font-family: 'Iosevka Sparkle Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iosevka-sparkle-regular.woff2') format('woff2'), url('woff/iosevka-sparkle-regular.woff') format('woff');
}

@font-face {
	font-family: 'Iosevka Sparkle Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/iosevka-sparkle-oblique.woff2') format('woff2'), url('woff/iosevka-sparkle-oblique.woff') format('woff');
}

@font-face {
	font-family: 'Iosevka Sparkle Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('woff2/iosevka-sparkle-oblique.woff2') format('woff2'), url('woff/iosevka-sparkle-oblique.woff') format('woff');
}

@font-face {
	font-family: 'Iosevka Sparkle Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iosevka-sparkle-italic.woff2') format('woff2'), url('woff/iosevka-sparkle-italic.woff') format('woff');
}

@font-face {
	font-family: 'Iosevka Sparkle Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iosevka-sparkle-medium.woff2') format('woff2'), url('woff/iosevka-sparkle-medium.woff') format('woff');
}

@font-face {
	font-family: 'Iosevka Sparkle Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/iosevka-sparkle-mediumoblique.woff2') format('woff2'), url('woff/iosevka-sparkle-mediumoblique.woff') format('woff');
}

@font-face {
	font-family: 'Iosevka Sparkle Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('woff2/iosevka-sparkle-mediumoblique.woff2') format('woff2'), url('woff/iosevka-sparkle-mediumoblique.woff') format('woff');
}

@font-face {
	font-family: 'Iosevka Sparkle Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iosevka-sparkle-mediumitalic.woff2') format('woff2'), url('woff/iosevka-sparkle-mediumitalic.woff') format('woff');
}

@font-face {
	font-family: 'Iosevka Sparkle Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iosevka-sparkle-semibold.woff2') format('woff2'), url('woff/iosevka-sparkle-semibold.woff') format('woff');
}

@font-face {
	font-family: 'Iosevka Sparkle Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/iosevka-sparkle-semiboldoblique.woff2') format('woff2'), url('woff/iosevka-sparkle-semiboldoblique.woff') format('woff');
}

@font-face {
	font-family: 'Iosevka Sparkle Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('woff2/iosevka-sparkle-semiboldoblique.woff2') format('woff2'), url('woff/iosevka-sparkle-semiboldoblique.woff') format('woff');
}

@font-face {
	font-family: 'Iosevka Sparkle Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iosevka-sparkle-semibolditalic.woff2') format('woff2'), url('woff/iosevka-sparkle-semibolditalic.woff') format('woff');
}

@font-face {
	font-family: 'Iosevka Sparkle Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iosevka-sparkle-bold.woff2') format('woff2'), url('woff/iosevka-sparkle-bold.woff') format('woff');
}

@font-face {
	font-family: 'Iosevka Sparkle Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/iosevka-sparkle-boldoblique.woff2') format('woff2'), url('woff/iosevka-sparkle-boldoblique.woff') format('woff');
}

@font-face {
	font-family: 'Iosevka Sparkle Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('woff2/iosevka-sparkle-boldoblique.woff2') format('woff2'), url('woff/iosevka-sparkle-boldoblique.woff') format('woff');
}

@font-face {
	font-family: 'Iosevka Sparkle Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iosevka-sparkle-bolditalic.woff2') format('woff2'), url('woff/iosevka-sparkle-bolditalic.woff') format('woff');
}

@font-face {
	font-family: 'Iosevka Sparkle Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iosevka-sparkle-extrabold.woff2') format('woff2'), url('woff/iosevka-sparkle-extrabold.woff') format('woff');
}

@font-face {
	font-family: 'Iosevka Sparkle Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/iosevka-sparkle-extraboldoblique.woff2') format('woff2'), url('woff/iosevka-sparkle-extraboldoblique.woff') format('woff');
}

@font-face {
	font-family: 'Iosevka Sparkle Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('woff2/iosevka-sparkle-extraboldoblique.woff2') format('woff2'), url('woff/iosevka-sparkle-extraboldoblique.woff') format('woff');
}

@font-face {
	font-family: 'Iosevka Sparkle Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iosevka-sparkle-extrabolditalic.woff2') format('woff2'), url('woff/iosevka-sparkle-extrabolditalic.woff') format('woff');
}

@font-face {
	font-family: 'Iosevka Sparkle Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('woff2/iosevka-sparkle-heavy.woff2') format('woff2'), url('woff/iosevka-sparkle-heavy.woff') format('woff');
}

@font-face {
	font-family: 'Iosevka Sparkle Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('woff2/iosevka-sparkle-heavyoblique.woff2') format('woff2'), url('woff/iosevka-sparkle-heavyoblique.woff') format('woff');
}

@font-face {
	font-family: 'Iosevka Sparkle Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('woff2/iosevka-sparkle-heavyoblique.woff2') format('woff2'), url('woff/iosevka-sparkle-heavyoblique.woff') format('woff');
}

@font-face {
	font-family: 'Iosevka Sparkle Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('woff2/iosevka-sparkle-heavyitalic.woff2') format('woff2'), url('woff/iosevka-sparkle-heavyitalic.woff') format('woff');
}
