.navbar-light .navbar-nav .c-blue {
  color: #47A2D7;
}

.navbar-light .navbar-nav .c-blue:hover {
  color: #1B212C;
}

.navbar-custom {
  border-color: #1B212C;
  border-bottom: 2px solid;
  height: 80px;
  padding-top: 0px;
}
