.container-custom {
  max-width: 960px;
  padding: 20px;
  padding-top: 40px;
}

.blog-content a {
  transition: color 0.4s ease;
  text-decoration: none;
  color: #1f62b3;
}

.blog-content a:hover {
  color: #a12269;
}

code {
  color: #212529;
	background-color: #f8f8f8;
	border-radius: 3px;
	padding: 0px 4px;
	border: 1px solid #ccc;
	vertical-align: middle;
}

.h4-custom {
  color: #a12269;
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 0px;
}

@media only screen and (max-width: 480px) {
  .navbar-brand {
    margin-right: 0px;
    margin-left: -10px;
  }
}

/* !important tags suck.
 * TODO: Use a custom bootstrap
 */
.link {
  text-decoration: none;
  transition: color 0.4s ease;
  color: #1f62b3!important;
}

.link:hover {
  text-decoration: none;
  color: #a12269!important;
}

.navbar-custom {
  border-color: #1B212C;
  border-bottom: 2px solid;
  height: 70px;
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,.3), 0px 0px 2px 0px rgba(0,0,0,.05);
  margin: 10px;
}

.text-gray {
  color: #737374;
}

/*
 * TODO: Add scrollbar colors for webkit browsers.
 */
.highlight {
  border-top: 2px solid white;
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,.6), 0px 0px 2px 0px rgba(0,0,0,.1);
  padding: 5px 10px;
  scrollbar-color: #506568 #212529;
}

td, th {
  border: 1px solid #ddd;
  padding: 2px 4px;
}

th {
  background-color: #eee;
}

table {
  border-top: 2px solid black;
  box-shadow: 0px 2px 8px 0px rgba(0,0,0,.3), 0px 0px 2px 0px rgba(0,0,0,.05);
}
