{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>TheAvidDev</title>

  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/material-design-iconic-font.min.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/pygments.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/iosevka-sparkle.css' %}" rel="stylesheet" type="text/css">
  <link href="{% static 'css/iosevka-ss14.css' %}" rel="stylesheet" type="text/css">
</head>

<body>
  <nav class="navbar navbar-expand navbar-light bg-light navbar-custom">
    <div class="container">
      <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static 'img/profile.png' %}" width="70" height="70" alt="Cube Logo">
      </a>
      <div id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link link" href="{% url 'index' %}">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link" href="{% url 'projects' %}">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link" href="{% url 'about' %}">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  {% block body %}
  {% endblock %}

  <footer>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/contact.js' %}"></script>
  </footer>
</body>
</html>
