{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>TheAvidDev</title>

  <!-- Custom fonts for this theme -->
  <link href="{% static 'css/all.min.css' %}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'css/material-design-iconic-font.min.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <!-- Theme CSS -->
  <link href="{% static 'css/freelancer.min.css' %}" rel="stylesheet">
</head>

<body>
  {% include 'sections/navbar.html' %}

  <header class="masthead bg-primary text-white text-center" id="home">
    {% block header %}
    {% endblock %}
  </header>

  {% block body %}
  {% endblock %}

<footer class="footer text-center">
  {% include 'scripts.html' %}
  {% block scripts %}
  {% endblock %}

  {% block footer %}
  {% endblock %}
</footer>

{% include 'sections/copyright.html' %}

</body>
</html>
