{% extends "base.html" %}
{% load mistune %}

{% block body %}
<br>
<div class="blog-links">
  <nobr>
    <i class="zmdi zmdi-rss"></i> <a href="{% url 'rss-feed' %}">RSS</a> ·
    <a href="{% url 'atom-feed' %}">Atom</a>&emsp;&emsp;
  </nobr>
  <nobr><i class="zmdi zmdi-view-headline"></i> <a href="{% url 'timeline' %}">Blog Timeline</a>&emsp;&emsp;</nobr>
  <nobr><i class="zmdi zmdi-github"></i> <a href="https://github.com/TheAvidDev/">Github</a>&emsp;&emsp;</nobr>
  <nobr><i class="zmdi zmdi-email"></i> <a href="mailto:contact@theavid.dev">contact@theavid.dev</a>&emsp;&emsp;</nobr>
</div>
{% for blog in blogs %}
<h4 class="h4-custom">
  <a class="link" href="{% url 'blog' blog.slug %}">{{ blog.title }}</a>
</h4>

{% if blog.hidden %}
  <span class="badge badge-dark"><i class="zmdi zmdi-eye-off"></i> Hidden</span>
{% endif %}
{% if user.is_staff %}
  <a href="{{ blog.get_admin_url }}"><span class="badge badge-primary"><i class="zmdi zmdi-edit"></i> Edit</span></a>
{% endif %}

<div class="row">
  <span class="text-gray col col-md-3"><i class="zmdi zmdi-calendar"></i> {{ blog.published_at.date }}</span>
  <span class="text-gray col col-md-2"><i class="zmdi zmdi-label"></i> {{ blog.tag }}</span>
  <span class="text-gray col"><i class="zmdi zmdi-time"></i> {{ blog.get_time_length }} min</span>
</div>
<div class="blog-content">
  {{ blog.snippet }}
  <a href="{% url 'blog' blog.slug %}">View more</a>
</div>
<hr>
{% endfor %}
{% endblock %}
