<!-- About Section -->

<section class="page-section bg-primary text-white mb-0" id="about">
  <div class="container">

    <!-- About Section Heading -->
    <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>

    <!-- Icon Divider -->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <i class="zmdi zmdi-search"></i>
      </div>
      <div class="divider-custom-line"></div>
    </div>

    <!-- About Section Content -->
    <div class="row">
      <div class="col-lg-4 ml-auto">
        <p class="lead">I'm a high school student interested in computer science. I began programming around 2014 and have taken on multiple projects since, many of which you can find here and on Github.</p>
      </div>
      <div class="col-lg-4 mr-auto">
        <p class="lead">Over the years, I've grown and developed, learning about competitive programming and cyber security, with many more fields to come. I have never looked back since. </p>
      </div>
    </div>

    <!-- About Section Button -->
    <div class="text-center mt-4">
      <a class="btn btn-xl btn-outline-light" href="https://github.com/TheAvidDev" target="_blank">
        <i class="zmdi zmdi-github mr-2"></i>
        Github
      </a>
    </div>

  </div>
</section>
