<!-- Contact Section -->

<section class="page-section" id="contact">
  <div class="container">

    <!-- Contact Section Heading -->
    <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contact Me</h2>

    <!-- Icon Divider -->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <i class="zmdi zmdi-email"></i>
      </div>
      <div class="divider-custom-line"></div>
    </div>

    <!-- Contact Section Form -->
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <form action="/contact/" method="POST" id="contact-form">
          {% csrf_token %}
          <div class="control-group">
            <div class="form-group floating-label-form-group controls mb-0 pb-2">
              <label>Name</label>
              {{ form.name }}
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls mb-0 pb-2">
              <label>Email Address</label>
              {{ form.email }}
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls mb-0 pb-2">
              <label>Message</label>
              {{ form.message }}
            </div>
          </div>
          <br>
          <div id="contact-output"></div>
          <div class="form-group">
            <input type="submit" value="Send" class="btn btn-primary btn-xl col-12" id="contact-submit">
          </div>
        </form>
      </div>
    </div>

  </div>
</section>
