<!-- Footer Section -->
{% load static %}
  <div class="container">
    <div class="row">

      <!-- Footer Location -->
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Location</h4>
        <p class="lead mb-0">Somewhere on the
          <br>internet... maybe...</p>
      </div>

      <!-- Footer Social Icons -->
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="text-uppercase mb-4">Around the Web</h4>
        <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/TheAvidDev" target="_blank">
          <i class="zmdi zmdi-github"></i>
        </a>
        <a class="btn btn-outline-light btn-social mx-1" href="https://twitch.tv/theaviddev" target="_blank">
          <i class="zmdi zmdi-twitch"></i>
        </a>
        <a class="btn btn-outline-light btn-social mx-1" href="https://dmoj.ca/user/Bit" target="_blank">
          OJ
        </a>
      </div>

      <!-- Footer About Text -->
      <div class="col-lg-4">
        <h4 class="text-uppercase mb-4">Best Practice</h4>
        <p class="lead mb-0">The best way to contact me is here.
        <br>Everywhere else is uncertain.</p>
      </div>

    </div>
  </div>
