<!-- Header Section -->
{% load static %}
<div class="container d-flex align-items-center flex-column">

  <!-- Masthead Avatar Image -->
  <img class="masthead-avatar mb-5" src="{% static 'img/avataaars.svg' %}" alt="">

  <!-- Masthead Heading -->
  <h1 class="masthead-heading text-uppercase mb-0">The Avid Dev</h1>

  <!-- Icon Divider -->
  <div class="divider-custom divider-light">
    <div class="divider-custom-line"></div>
    <div class="divider-custom-icon">
      <i class="zmdi zmdi-codepen"></i>
    </div>
    <div class="divider-custom-line"></div>
  </div>

  <!-- Masthead Subheading -->
  <p class="masthead-subheading font-weight-light mb-0">Software Developer - Web Designer - Game Creator</p>

</div>
